html {
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}

body {
  font-family: Inter, Sans-serif;
  width: 100%;
  margin: 0px;
}

section {
  scroll-snap-align: start;
}

/*---------- components -------------*/

button {
  color: #000;
  text-align: center;
  font-size: 16px;
  font-weight: 700;

  padding: 16px 56px;
  border-radius: 50px;
  border: 1px solid #000;
}

button:hover {
  cursor: pointer;
}

.button-discreet {
  background-color: white;
}

.button-discreet:hover {
  color: #cc3b3b;
  border-color: #cc3b3b;
}

.button-highlight {
  background-color: #cc3b3b;
  color: white;
}

.button-highlight:hover {
  background-color: #cc3b3b;
}

.logo {
  font-size: 48px;
  text-align: center;
  font-weight: bolder;

  text-decoration: none;
  color: black;
}

.buttongroup {
  display: block;
  gap: 13px;
}

/* that one button i imported from somewhere
nuh-uh *counterspell* */

.wrapper {
  position: fixed;
  top: 50%;
  right: 140px;
  transform: translate(-50%, -50%);
}

.wrapper a {
  display: block;
  text-decoration: none;
  color: white;
  border: 1px solid #000;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  position: relative;
  transition: all 0.35s;
  background: #cc3b3b;

  padding: 16px 56px;
  overflow: hidden;
}

.wrapper a span {
  position: relative;
  z-index: 2;
}

.wrapper a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: white;
  transition: all 0.35s;
  border-radius: 50px;
}

.wrapper a:hover {
  color: black;
}

.wrapper a:hover:after {
  width: 100%;
}

/*---------- header -------------*/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 16px 40px;
  margin: 0px;
  border-bottom: 1px solid black;

  position: sticky;
  top: 0px;
  backdrop-filter: blur(10px);
  /*background-color: white;*/
}

.headerbutton {
  display: none;
}

header img {
  height: 40px;
}

@media (max-width: 750px) {
  header .buttongroup {
    display: flex;
  }

  .wrapper {
    display: none;
  }

  header .button-discreet {
    display: none;
  }

  .button-highlight {
    display: block;
    font-size: 12px;
    padding: 16px;
  }
}

/*---------- hero -------------*/

.hero {
  margin: 0px;
  padding: 180px 40px;
  background-image: url("images/paysage.avif");
  background-origin: border-box;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  gap: 80px;
}

.hero h1 {
  color: white;
  font-size: 176px;
  line-height: 100%; /* 176.321px */
  text-transform: uppercase;
  margin: 0px;
  margin-bottom: 24px;
}

@media (max-width: 900px) {
  .hero h1 {
    font-size: 46px;
    margin-bottom: 16px;
  }
}

/*---------- arguments -------------*/
.argument {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  padding: 160px 40px;
}

.argument-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: baseline;
  gap: 80px;
}

.argument-card {
  display: flex;
  width: 240px;
  padding: 55px 40px 37px 40px;

  flex-direction: column;
  align-items: center;
  gap: 32px;

  border-radius: 50px;
  border: 1px solid #000;
}

.argument-card a {
  color: black;
  text-decoration: none;
}

.argument-card a:hover {
  color: #cc3b3b;
}

.argument-card img {
  width: 56px;
}

/*---------- form -------------*/

form {
  background-image: url("images/homme.avif");
  margin: 0px;
  padding: 320px 40px;
  background-origin: border-box;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.mail-field {
  display: flex;
  gap: 0px;
}

.mail-input {
  color: #000;
  text-align: center;
  font-size: 16px;

  width: 300px;
  padding: 16px 56px;

  border-radius: 50px 0px 0px 50px;
  border: 1px solid;
  border-right: 0px;
}

.mail-input-button {
  border-radius: 0px 50px 50px 0px;
  border: 2px solid #cc3b3b;
  padding: 16px 40px;
}

@media (max-width: 600px) {
  .mail-field {
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
  }

  .mail-input {
    border-radius: 50px;
    border: 1px solid;
    padding: 16px 26px;
  }

  .mail-input-button {
    border-radius: 50px;
  }
}

/*---------- footer -------------*/

footer {
  padding: 32px 40px;
  margin: 0px;
  border-top: 1px solid black;
}

footer div {
  display: flex;
  justify-content: space-between;
}

.about-us {
  list-style: none;
  padding: 16px;
}

.about-us a {
  text-decoration: none;
  color: black;
}

.about-us a:hover {
  color: #cc3b3b;
}
